.vscode/**
.vscode-test/**
src/**
node_modules/.bin/**
node_modules/.package-lock.json
node_modules/@types/**
node_modules/typescript/**
node_modules/@vscode/**
**/.gitignore
**/tsconfig.json
**/.eslintrc*
**/*.vsix
**/*.map
**/*.ts
!out/**/*.d.ts
**/.DS_Store
